[submodule "segmentation/khartes"]
	path = segmentation/khartes
	url = https://github.com/KhartesViewer/khartes
[submodule "segmentation/ThaumatoAnakalyptor"]
	path = segmentation/ThaumatoAnakalyptor
	url = https://github.com/schillij95/ThaumatoAnakalyptor
[submodule "segmentation/volume-cartographer"]
	path = segmentation/volume-cartographer
	url = https://github.com/spacegaier/volume-cartographer
[submodule "segmentation/autoseg_preprocess"]
	path = segmentation/autoseg_preprocess
	url = https://github.com/giorgioangel/vesuvius_autoseg_preprocess
[submodule "ink-detection/3d-ink-detection"]
	path = ink-detection/3d-ink-detection
	url = https://github.com/ryanchesler/3d-ink-detection
[submodule "ink-detection/LSM"]
	path = ink-detection/LSM
	url = https://github.com/ryanchesler/LSM
[submodule "ink-detection/GP-2023-winner"]
	path = ink-detection/GP-2023-winner
	url = https://github.com/younader/Vesuvius-Grandprize-Winner
[submodule "datadownload"]
	path = datadownload
	url = https://github.com/JamesDarby345/VesuviusDataDownload
